body{

margin:0;

background:black;

overflow-x:hidden;

font-family:Arial;

}

#logo{

position:fixed;

top:10px;

right:20px;

z-index:9999;

color:white;

font-size:24px;

font-weight:bold;

}

#topBar{

position:fixed;

top:10px;

left:10px;

z-index:9999;

}

#feed{

height:100vh;

overflow-y:scroll;

scroll-snap-type:y mandatory;

}

.reel{

position:relative;

width:100%;

height:100vh;

scroll-snap-align:start;

display:flex;

justify-content:center;

align-items:center;

background:black;

overflow:hidden;

margin:0;

}

video{

position:absolute;

top:0;

left:0;

right:0;

bottom:0;

width:100vw;

height:100vh;

object-fit:cover;

background:black;

}

.overlay{

position:absolute;

right:20px;

bottom:100px;

display:flex;

flex-direction:column;

gap:20px;

z-index:999;

pointer-events:none;

}

.overlay button{

width:60px;

height:60px;

border:none;

border-radius:50%;

font-size:28px;

background:
rgba(0,0,0,0.5);

color:white;

cursor:pointer;

pointer-events:auto;

}
#uploadIcon{

position:fixed;

bottom:30px;

left:20px;

width:45px;

height: 45px;

border-radius:50%;

background:#ff0050;

color:white;

font-size:18px;

display:flex;

justify-content:center;

align-items:center;

z-index:9999;

cursor:pointer;

box-shadow:
0 0 15px rgba(0,0,0,0.5);

}
#profilePopup{

position:fixed;

top:20px;

right:20px;

background:
rgba(0,0,0,0.7);

backdrop-filter:
blur(10px);

padding:20px;

border-radius:20px;

color:white;

z-index:9999;

display:none;

box-shadow:
0 0 20px rgba(255,0,128,0.7);

}

#profilePopup button{

margin-top:10px;

padding:10px 20px;

border:none;

border-radius:10px;

background:#ff0080;

color:white;

}
@keyframes pop{

0%{

transform:
translate(-50%,-50%)
scale(0);

opacity:0;

}

50%{

transform:
translate(-50%,-50%)
scale(1.3);

opacity:1;

}

100%{

transform:
translate(-50%,-50%)
scale(1);

opacity:0;

}

}

#splash{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:black;

display:flex;

justify-content:center;

align-items:center;

z-index:999999;

animation:
hideSplash 4s forwards;

}
#logo{

position:absolute;

top:50%;

left:50%;

transform:
translate(-50%,-50%);

display:flex;

align-items:center;

justify-content:center;

font-size:55px;

font-weight:bold;

gap:4px;

z-index:9999999;

}

#bigO{

color:#ff0080;

text-shadow:
0 0 25px #ff0080;

animation:
popO 0.8s ease;

}

.i1{

opacity:0;

animation:
showI 0.5s 1s forwards;

}

.i2{

opacity:0;

animation:
showI 0.5s 1.6s forwards;

}

.dot{

opacity:0;

color:#ff0080;

animation:
showDot 0.5s 2.2s forwards;

}

@keyframes popO{

0%{

transform:scale(0);

}

100%{

transform:scale(1);

}

}

@keyframes showI{

0%{

transform:
translateX(-25px)
scale(0);

opacity:0;

}

70%{

transform:
translateX(8px)
scale(1.2);

opacity:1;

}

100%{

transform:
translateX(0)
scale(1);

opacity:1;

}

}

@keyframes showDot{

0%{

transform:
translateY(-20px);

opacity:0;

}

100%{

transform:
translateY(0);

opacity:1;

}

}
@keyframes hideSplash{

0%,85%{

opacity:1;

}

100%{

opacity:0;
visibility:hidden;

}

}
@media (max-width:768px){

button{

width:50px !important;

height:50px !important;

font-size:18px !important;

}

#dp{

width:45px !important;

height:45px !important;

top:15px !important;

left:15px !important;

}

#dp img{

width:45px !important;

height:45px !important;

}

#logo{

font-size:40px !important;

}

}
#chatBox{

height:80vh;

overflow-y:scroll;

background:black;

padding:10px;

}

#bottom{

position:fixed;

bottom:10px;

left:0;

width:100%;

display:flex;

align-items:center;

gap:8px;

padding:0 10px;

box-sizing:border-box;

}

#msgInput{

flex:1;

height:50px;

padding:0 16px;

border:none;

border-radius:25px;

font-size:16px;

outline:none;

}

#sendBtn{

width:70px;

height:50px;

border:none;

border-radius:25px;

background:hotpink;

color:white;

font-size:15px;

font-weight:bold;

}
html,body{

margin:0;
padding:0;

width:100%;
height:100%;

overflow:hidden;

background:black;

}

#feed{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

}
@keyframes heartPop{

0%{
transform:
translate(-50%,-50%)
scale(0);

opacity:0;
}

50%{
transform:
translate(-50%,-50%)
scale(1.3);

opacity:1;
}

100%{
transform:
translate(-50%,-50%)
scale(1);

opacity:0;
}

}
#editDp{

margin-top:10px;

background:hotpink;

color:white;

border:none;

border-radius:50%;

width:40px;

height:40px;

font-size:18px;

cursor:pointer;

}
#searchBtn
{
position:fixed;
left:20px;
bottom:90px;
width:55px;
height:55px;
border-radius:50%;
background:#ff4da6;
display:flex;
align-items:center;
justify-content:center;
font-size:24px;
color:white;
cursor:pointer;
z-index:999;
}
#dp{

position:fixed;

top:20px;

left:20px;

width:55px;

height:55px;

border-radius:50%;

background:white;

display:flex;

justify-content:center;

align-items:center;

font-size:28px;

z-index:9999;

overflow:hidden;

cursor:pointer;

}

#dp img{

width:100%;

height:100%;

object-fit:cover;

border-radius:50%;

}
#usernameText{

position:fixed;

top:85px;

left:15px;

color:white;

font-size:16px;

font-weight:bold;

z-index:9999;

background:rgba(0,0,0,0.5);

padding:6px 12px;

border-radius:20px;

}
#followBtn{

margin-top:15px;
padding:10px 25px;
border:none;
border-radius:20px;
background:hotpink;
color:white;
font-size:16px;
font-weight:bold;
cursor:pointer;

}
